{% extends 'common/base_manager.html' %}
{% load static %}
{% block content %}
    <div class="x-body">
        <table class="layui-table">
            <thead>
            <tr>
                <th>收件人</th>
                <th>联系电话</th>
                <th>收件地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ info.contacts }}</td>
                <td>{{ info.phone }}</td>
                <td>{{ info.address }}</td>
            </tr>
            </tbody>
        </table>
        <table class="layui-table">
            <thead>
            <tr>
                <th>商品名称</th>
                <th>商品图片</th>
                <th>商品单价</th>
                <th>商品数量</th>
                <th>商品小计</th>
            </tr>
            </thead>
            <tbody>
            {% for order_info in info.order_info_set.filter %}
                <tr>
                    <td>{{ order_info.goods.goods_name }}</td>
                    <td><img src="{% static order_info.goods.goods_pic.url %}"/></td>
                    <td>￥{{ order_info.goods.goods_xprice }}元</td>
                    <td>{{ order_info.number }}</td>
                    <td>￥{% widthratio order_info.goods.goods_xprice 1 order_info.number %}元</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <form method="post" action="{% url 'manager:edit_send_status' %}">
            {% csrf_token %}
            <div class="layui-form-item">
                <input type="hidden" name="order_id" value="{{ info.id }}"/>
                <input type="submit" value="点击发货" class="layui-btn"/>
            </div>
        </form>
    </div>
{% endblock %}