{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="goods_type">
    {% for manager in manager %}
        <div class="box_list">
            <dl>
                <dt><a href="{% url 'store:store_details' manager.manager_id %}"><img src="{% static manager.shop_logo %}"/></a></dt>
                    <dd>
                        <p> <a href="{% url 'store:store_details' manager.manager_id %}">{{manager.shop_name}}</a></p>
                        <p>掌柜：{{manager.username}} <a href="{% url 'store:store_details' manager.manager_id %}">进店>></a></p>

                    </dd>
                </dl>
        </div>
    {% endfor %}
    </div>
{% endblock %}