{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="cart_list">
        <form method="post" action="#">
            {% csrf_token %}
            <div class="cart_top">我的购物车</div>
            <div class="cart_listbox">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>商品名称</th>
                        <th>商品缩略图</th>
                        <th>商品单价</th>
                        <th>商品数量</th>
                        <th>商品小计</th>
                        <th>操作</th>
                    </tr>
                    {% for car in car_list %}
                        <tr id="tr_{{ car.goods.id }}">
                            <td><a href="#">{{ car.goods.goods_name }}</a></td>
                            <td><a href="#"><img src="{% static car.goods.goods_pic %}"/></a></td>
                            <td>￥{{ car.goods.goods_xprice }}元</td>
                             <input type="hidden" id="xprice_{{ car.goods_id }}" value="{{ car.goods.goods_xprice }}"/>

                            <td><input type="button" name="-" value="-" class="btn1"
                                       onclick="num('reduce',{{ car.goods.id }})"/>
                                <input type="text" value="{{ car.number }}" id="number_{{ car.goods_id }}" name="count"
                                       class="text1" onblur="num('gai',{{ car.goods.id }})"/>
                                <input type="button" name="+" value="+" class="btn1"
                                       onclick="num('jia',{{ car.goods.id }})"/>
                            </td>
                            <td>￥<span id="xj_{{ car.goods_id }}">{% widthratio car.goods.goods_xprice 1 car.number %}</span></td>
                            <td><a href="javascript:" onclick="del_car({{ car.goods.id }})">删除</a></td>
                            <input type="hidden" name="goods_id" id="goods_id_{{ car.goods_id }}"
                                   value="{{ car.goods.id }}">
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" style="text-align: center;">购物车空空如也~~，请快去购物吧！</td>
                        </tr>
                    {% endfor %}


                </table>
                <div class="goon">
                    <div class="clearcart">
                        <input type="button" value="清空购物车" class="btn" onclick="clear_car()"/>
                    </div>
                    <div class="totalprice">
                        总计：￥<span id="totalprice"></span>元
                    </div>

                </div>

                <div class="jxgg">
                    <a href="/">继续逛逛</a>
                </div>
                <div class="order">
                    <a href="{% url 'user:place_order' %}"><input type="button" value="立即下单" class="btn"/></a>
                </div>
            </div>
        </form>
    </div>

    <script>

    //在购物车页面进行商品数量操作
        function num(type, gid) {
            var goods_id = $('#goods_id_' + gid).val();
            var number = $('#number_' + gid).val();
            var num=Number(number);
            var token = $('input[name=csrfmiddlewaretoken]').val();
            var price=$('#xprice_'+gid).val();
            $.ajax({
                url: '{% url 'user:edit_num' %}',
                data: {goods_id: goods_id, number: number,type: type, csrfmiddlewaretoken: token}, // json
                type: 'post',
                dataType: 'json',
                success: function (data, status, xhr) {
                    console.log(data);
                    if (data.status == 0) {
                        alert(data.msg)
                    }else {
                        //每次操作后计算小计
                       $('#number_' + gid).val(data.number);
                       $('#xj_'+gid).html(num  * price);

                       //计算总计
                        js_total()
                    }
                }
            })
        }

        //删除单个商品
        function  del_car(gid) {
            console.log(gid);
            var goods_id = $('#goods_id_' + gid).val();
             var token = $('input[name=csrfmiddlewaretoken]').val();
             $.ajax({
                url: '{% url 'user:del_car' %}',
                data: {goods_id:goods_id,csrfmiddlewaretoken: token}, // json
                type: 'post',
                dataType: 'json',
                success: function (abc, status, xhr) {
                    console.log(abc);
                    if (abc.status == 0) {
                        alert(abc.msg)
                    }
                    else if(abc.status == 2){
                        console.log(abc.msg);
                       window.location.href=abc.data
                    }
                    else {
                        console.log(abc.msg) ;
{#                         $('#tr_' + gid).remove()#}
{#                        window.location.href=abc.data#}
                        window.location.reload()   //当前页面刷新
                    }
                }
            })
        }

        //清空购物车
        function  clear_car() {
             var token = $('input[name=csrfmiddlewaretoken]').val();
             $.ajax({
                url: '{% url 'user:clear_car' %}',
                data: {csrfmiddlewaretoken: token}, // json
                type: 'post',
                dataType: 'json',
                success: function (abc, status, xhr) {
                    {#                    $('tr[name=tr]')#}
                    console.log(abc);
                    if (abc.status == 0) {
                        alert(abc.msg)
                    }
                    else if (abc.status == 2) {
                        window.location.href = abc.data
                    }
                    else {
                        $('tr[id*=tr_]').each(function (obj,ev) {
                            $(this).remove()
                        });
                        window.location.reload();
                        {#                        window.location.href=abc.data}#}
                    }
                }
            })
        }
    $(function () {
        js_total()
    });


    //计算小计
    function js_total() {
        //获取所有小计
        var total=0;
        $('span[id*=xj_]').each(function (obj,ev) {
            var xj=$(this).html();
            total+=Number(xj)
        });
        $('#totalprice').html(total)

    }
    

    </script>

{% endblock %}